<div class="person">
    <div class="photo">
        <img src="{{ page.media[person.photo].url }}" />
    </div>
    <div class="heading">
        <p>{{ person.title}}: {{ person.full_name }}</p>
        <p>Term of office: {{ person.term_of_office }}</p>
        <p>{{ person.heading_notes }}</p>
    </div>
    <div class="blurb">
        {% for line in person.blurb %}
            {% if line == '~list~' %}
                {% include 'partials/list.html.twig' with {'list': person.list} %}
            {% elseif line == '~video~' %}
                {% include 'partials/video.html.twig' with {'video_type': person.video_type, 'video_id': person.video_id} %}
            {% else %}
                {{ line|markdown }}
            {% endif %}
        {% endfor %}
    </div>
</div>
