    <div class="{{ section.style_classes }} page-section">
        <div class="page-section-wrapper">
        {% if section.icon is not empty or section.title is not empty or section.image is not empty %}
            <h2>
            {% if section.icon is not empty %}<i class="fa {{ section.icon }}"></i><br />{% endif %}
            {% if section.image is not empty %}<img src="{{ page.media[section.image].url }}" /><br />{% endif %}
            {{ section.title }}
            </h2>
        {% endif %}

        {% if section.text is not empty %}
            {% include 'partials/section_text.html.twig' with {'section': section} %}
        {% endif %}

        {% if section.table is not empty %}
            {% include 'partials/section_table.html.twig' with {'section': section} %}
        {% endif %}

        {% if section.sub_sections is not empty %}
            <div class="sub-sections-wrapper {% if section.columns > 1 %}pure-g{% endif %}">
            {% for sub_section in section.sub_sections %}
                <div class="sub-section pure-u-1 pure-u-md-1-{{ section.columns }}">
                {% if sub_section.url is not empty %}
                    <a href="{{ page.find(sub_section.url).permalink }}">
                {% endif %}
                    <h3>{{ sub_section.title }}</h3>
                    {% if sub_section.image is not empty %}
                    <img src="{{ page.media[sub_section.image].url }}" />
                    {% endif %}

                    {% include 'partials/section_text.html.twig' with {'section': sub_section} %}

                {% if sub_section.url is not empty %}
                    </a>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
