{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set hero_image = page.media['hero.jpg'] %}
    {% set attachment_pdf = page.media['attachment.pdf'] %}
    {% set attachment_docx = page.media['attachment.docx'] %}

    {% if hero_image %}
        <div class="flush-top" id="hero-image" style="background-image: url({{ hero_image.url }});">
    {% else %}
        <div class="default-header">
    {% endif %}
    </div>

    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
  
    <div>
        <h1 id="page-title">{% if page.header.display_title is not empty %}{{ page.header.display_title }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if page.header.description is not empty %}<p id="page-description">{{ page.header.description|markdown }}</p>{% endif %}

        {% for section in page.header.sections %}
	    {% include 'partials/section.html.twig' with {'section': section} %}
        {% endfor %}

        {% if page.header.contact_button is not empty %}
            <div id="contact-us-button">
                <a href="{{ pages.find('/contact-us').permalink }}">
                    <img src="{{ url('theme://images/contact-us.png') }}" />
                </a>
            </div>
        {% endif %}

        {% if page.header.find_out_more is not empty %}
	    {% include 'partials/find_out_more.html.twig' with {'content': page.header.find_out_more} %}
        {% endif %}

        {% if page.header.funded_by is not empty %}
	    {% include 'partials/funded_by.html.twig' with {'content': page.header.funded_by} %}
        {% endif %}

        {{ page.content }}

	{% if attachment_pdf %}
	    <div class="attachment">
		<a target="_blank" href="{{ attachment_pdf.url }}">File Download</a>
	    </div>
	{% elseif attachment_docx %}
	    <div class="attachment">
		<a target="_blank" href="{{ attachment_docx.url }}">File Download</a>
	    </div>
        {% endif %}
	<br />	
	<br />	
	<br />	
	<br />	
	<br />	
	<br />	
    </div>
{% endblock %}
