{% set events =
  page.collection({
    'items': {
      '@taxonomy': {
        'type': 'event'
      }
    },
    'order': {
      'by': 'date',
      'dir': 'asc'
    }
  })
%}
<div class="modular-row calendar {{ page.header.class}}">
    {{ content }}
    <div id="calendar">
    </div>
</div>
<script>
$(function() {
  $('#calendar').fullCalendar({
    events: [
        {% for event in events %}
            {
                title  : '{{ event.title }}',
                url  : '{{ event.url }}',
                start  : '{{ event.header.event.start|date('c') }}',
                end  : '{{ event.header.event.end|date('c') }}',
            },
        {% endfor %}
    ]
  });
});
</script>
