<div class="modular-row overview {{ page.header.class}}">
    {{ content }}
    <div class="overview-items pure-g">
    {% for overview_item in page.header.overview_items %}
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 overview-item text-center">
            <a href="{{ overview_item.url }}">
                <h2>{{ overview_item.title }}</h2>
                {% if overview_item.image %}
                    <img src="{{ url("theme://images/#{overview_item.image}") }}" />
                {% endif %}
            </a>
        </div>
    {% endfor %}
    </div>
</div>
